<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>MISSMATCH</title>
  <script src="/public/static/htmx.min.js"></script>
  <script src="/public/static/json-enc.js"></script>
  <link href="/public/static/output.css" rel="stylesheet" />
</head>

<body>
  {% include "common_components/header.html.j2" %}
  <div>
    {% include "components/submit.html.j2" %}
  </div>
</body>

</html>