<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:title" content="Mismatch" />
  <meta property="og:description" content="AI word game" />
  <meta property="og:url" content="https://mismatch.raphaelvanhoffelen.com/" />
  <meta property="og:type" content="website" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="version" content="{{ version }}" />
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚖️</text></svg>">

  <title>Mismatch</title>
  <meta name="description" content="AI word game" />
  <script src="/public/static/htmx.min.js"></script>
  <script src="/public/static/json-enc.js"></script>
  <link href="/public/static/output.css" rel="stylesheet" />
</head>

<body>
  {% include "common_components/header.html.j2" %}
  <div>
    {% include "components/submit.html.j2" %}
  </div>
</body>

</html>