<div id="highScoreDisplay" class="max-w-xs mx-auto text-center mt-4">
  <div class="flex items-center justify-center">
    <h3 class="font-bold">High Score</h3>
  </div>
  <p id="highScoreText" class="text-sm"></p>
  <p id="highScoreWords" class="text-sm"></p>
  <button id="copyHighScoreBtn" type="button" onclick="copyHighScore()" class="btn btn-s mt-2" title="Share score">
    <span id="copyText">Copy High Score !</span>
    <svg id="copyIcon" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
      stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3" />
    </svg>
  </button>
</div>